// ----------------------------------------------
// Reboot Style
// ----------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--bs-primary);
}

.link-hover {
    &:hover {
        color: var(--bs-primary) !important;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

:focus {
    outline: 0;
    box-shadow: none !important;
}