.round-10 {
  width: 10px;
  height: 10px;
}

.round-32 {
  width: 32px;
  height: 32px;
}

.round-36 {
  width: 36px;
  height: 36px;
}

.round-45 {
  width: 45px !important;
  height: 45px !important;
}

.round-52 {
  width: 52px !important;
  height: 52px;
}

.round-64 {
  width: 64px;
  height: 64px;
}

.round-490 {
  width: 490px;
  height: 490px;
}

.border-line {
    width: 64px;
    height: 1px;
}